<div id="content">
  <div class="relative px-6 isolate pt-14 lg:px-8">
    <div class="max-w-2xl py-32 mx-auto sm:py-48 lg:py-56">
      <div class="text-center"><%- content %></div>
    </div>
  </div>
</div>
