<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">HapiMix</h1>
<p class="mt-6 text-lg leading-8 text-gray-600">
  Welcome to HapiMix! HapiMix is an open-source project that uniquely blends the power of hapi and htmx. Our goal with
  HapiMix is to provide a cutting-edge application boilerplate for building modern, high-performance web applications
  following the "HTML over the wire" approach.
</p>
<div class="flex items-center justify-center mt-10 gap-x-6">
  <a
    href="/demo1"
    hx-get="/demo1"
    hx-target="#content"
    hx-push-url="true"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >Get started</a
  >
  <a
    href="/demo1"
    hx-get="/demo1"
    hx-target="#content"
    hx-push-url="true"
    class="text-sm font-semibold leading-6 text-gray-900"
    >Learn more <span aria-hidden="true">→</span></a
  >
</div>
